<div class="container">

  <form class="form-signin" id="find">
    <h2 class="form-signin-heading">Please enter first name</h2>
    <label for="inputName" class="sr-only">First name</label>
    <input type="text" id="inputName" class="form-control" placeholder="First name" required autofocus>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Generate pdf</button>
  </form>

</div> <!-- /container -->


