Index page

<form id="find" method="post" style="
    margin: 10% 40%;
    display: inline-block;
    width: 350px;
    padding: 50px;
    background-color: #EFEFEF;
">
  <label style="
    /* padding: 50px; */;
    float: left;
">First name</label>
  <input  id="name" name="name" placeholder="Name" type="text" style="
    padding:  5px;
    border: blue 3;
    color: blue;
    margin: 20px 0;
    /* padding: 50px; */;
">
  <input name="submit" type="submit" value="Register">
</form>
